/* Variables*/

:root {
    --background: #EEEEEE;
    --module-color-yellow: #FFE000;
    --header-text: #3A3845;
    --module-text: #2032BC;
    --text-color: #F7F5F2;
}

body {
    background-color: var(--background);
}

.page-title {
    font-size: 3rem;
}

#header-img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.navbar {
    font-size: 1.5rem;
    border-bottom: #1f2617;
    border-bottom: 3px solid rgba(2, 3, 43, 0.3);
    padding: 8px;
    min-height: 120px;
}

#search-pokemon {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#search-pokemon:focus,
#search-pokemon:hover {
    outline: none;
    box-shadow: 2px 2px 2px var(--module-color-yellow);
}

#pokemon-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.list-group-item {
    background-color: var(--background);
    border: none;
    justify-content: center;
    text-align: center;
    color: var(--module-text);
}

.btn {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    border: 1px solid #c7a008;
    font-size: 24px;
    font-weight: 500;
    color: #0c1c9c;
    background-color: var(--module-color-yellow);
}

.btn:hover {
    background-color: #f4d869;
}

@media screen and (max-width: 500px) {
    #header-img {
        display: none;
    }
    h1 {
        font-size: 24px;
    }
}